name: PR

on:
  pull_request:
    branches:
      - master

  # Run on push to master as well, to warm caches for future branches
  push:
    branches: master

env:
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  fetch:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: swatinem/rust-cache@v2
      - name: Fetch
        run: cargo fetch
      - name: Check Cargo.lock is up to date
        run: git diff --exit-code || (echo 'Cargo.lock needs updated' && exit 1)

  clippy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: swatinem/rust-cache@v2
      - name: Check
        run: cargo clippy --all-targets --locked

  doc-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: swatinem/rust-cache@v2
      - name: Doc check
        run: cargo doc --no-deps --locked

  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: swatinem/rust-cache@v2
      - name: Test
        run: cargo test --locked
